<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digicorp.easymenu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LoginActivity"
            android:label="Log In"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.SignUpActivity"
            android:label="Sign Up"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.OrderList"
            android:label="Easy Menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.CreateOrderActivity"
            android:label="Create Order"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.CreateOrderItem"
            android:label="Create Item"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.OrderItemType"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.ListItemsActivity"
            android:label="Food Item List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.RestaurantOrderDetails"
            android:theme="@style/AppTheme"/>
            <!--android:label="Order Details"-->
        <activity android:name=".UI.OrderListV2Activity"></activity>
    </application>

</manifest>